@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Anton');

$font-family-sans-serif: 'Open Sans', sans-serif;

$headings-font-family: 'Anton', sans-serif;

$brand-primary: #0217C0;
