<app-player-launcher id="launcher-players"></app-player-launcher>

<form>
  <div class="team">
    <a class="team-player team-a--striker team-a" (click)="showSelectPlayer()">
      <img src="https://avatars1.githubusercontent.com/u/39343849?s=460&v=4">
      </a>
    <a class="team-player team-a--defender team-a" (click)="showSelectPlayer()">
      <img src="https://avatars3.githubusercontent.com/u/31519019?s=400&u=6e3497bf246ebfb43e982e2766fc9ceaf3c2b66c&v=4">
    </a>
  </div>

  <div class="game-table">
    <div class="game-table--surface">
      <div class="circle"></div>
      <div class="score score--a">
        <input type="number" name="score-a" value="0" maxlength="2">
      </div>
      <div class="score score--b">
        <input type="number" name="score-a" value="0" maxlength="2">
      </div>
    </div>
    <div class="game-table--handle game-table--handle-bottom">
      <div class="handle handle-bottom-1"></div>
      <div class="handle handle-bottom-2"></div>
      <div class="handle handle-bottom-3"></div>
      <div class="handle handle-bottom-4"></div>
    </div>

    <div class="game-table--handle game-table--handle-top">
      <div class="handle handle-top-1"></div>
      <div class="handle handle-top-2"></div>
      <div class="handle handle-top-3"></div>
      <div class="handle handle-top-4"></div>
    </div>
  </div>

  <div class="team">
    <a class="team-player team-b--striker team-b" (click)="showSelectPlayer()">
      <img src="https://scontent-yyz1-1.xx.fbcdn.net/v/t1.0-9/33398253_10216153904296312_4652485875572146176_o.jpg?_nc_cat=0&oh=260068c42ba1139f52de9f193f3c66d7&oe=5BD92F99">
    </a>
    <a class="team-player team-b--defender team-b" (click)="showSelectPlayer()">
      <img src="https://scontent-yyz1-1.xx.fbcdn.net/v/t1.0-9/28870352_10154997855456511_1787420086606004835_n.jpg?_nc_cat=0&oh=92f88a9a9af8e707273586877c22d06d&oe=5BD42BA3">
    </a>
  </div>

  <div class="form-group" style="text-align: center">
    <button
      class="btn btn-save">Save game</button>
  </div>
</form>
