<app-player-launcher id="launcher-players"
  (selectPlayerEvent)="onLauncherSelected($event)"></app-player-launcher>

<ng-template #templateEmptyUser>
  <img src="assets/images/default-user.jpg" />
</ng-template>

<form>
  <div class="team">
    <a class="team-player team-a--striker team-a" (click)="showSelectPlayer('AStriker')">
      <div *ngIf="teamAStriker?.photoURL; else templateEmptyUser">
        <img src="{{ teamAStriker.photoURL }}">
      </div>
      </a>
    <a class="team-player team-a--defender team-a" (click)="showSelectPlayer('ADefender')">
      <div *ngIf="teamADefender?.photoURL; else templateEmptyUser">
        <img src="{{ teamADefender.photoURL }}">
      </div>
    </a>
  </div>

  <div class="game-table">
    <div class="game-table--surface">
      <div class="circle"></div>
      <div class="score score--a">
        <input type="number" name="scoreA" [(ngModel)]="scoreA" maxlength="2">
      </div>
      <div class="score score--b">
        <input type="number" name="scoreB" [(ngModel)]="scoreB" maxlength="2">
      </div>
    </div>
    <div class="game-table--handle game-table--handle-bottom">
      <div class="handle handle-bottom-1"></div>
      <div class="handle handle-bottom-2"></div>
      <div class="handle handle-bottom-3"></div>
      <div class="handle handle-bottom-4"></div>
    </div>

    <div class="game-table--handle game-table--handle-top">
      <div class="handle handle-top-1"></div>
      <div class="handle handle-top-2"></div>
      <div class="handle handle-top-3"></div>
      <div class="handle handle-top-4"></div>
    </div>
  </div>

  <div class="team">
    <a class="team-player team-b--striker team-b" (click)="showSelectPlayer('BStriker')">
      <div *ngIf="teamBStriker?.photoURL; else templateEmptyUser">
        <img src="{{ teamBStriker.photoURL }}">
      </div>
    </a>
    <a class="team-player team-b--defender team-b" (click)="showSelectPlayer('BDefender')">
      <div *ngIf="teamBDefender?.photoURL; else templateEmptyUser">
        <img src="{{ teamBDefender.photoURL }}">
      </div>
    </a>
  </div>

  <div class="form-group" style="text-align: center">
    <button
      class="btn btn-save" (click)="saveGame()">Save game</button>
  </div>
</form>
