/* Table  */
$table-color: #333;

$table-width: calc(100vw - 2rem);
$table-height: calc(#{$table-width}/1.9);

$penalty-area-width: calc(#{$table-height}/4); // calc(100vw/9);
$penalty-area-height: calc(#{$table-height}/2); // calc(100vw/5);

$handle-length: calc(#{$table-height} + 50px);
$handle-width: 5px;


.game-table {
  position: relative;
  margin-top: 5rem;
  margin-bottom: 5rem;
}
.game-table--surface {
  background: white;
  border: 5px solid $table-color;
  height: $table-height;
  width: $table-width;
  border-radius: 8px;
  position: relative;
  z-index: 2;

  &:before,
  &:after {
    content: '';
    display: block;
    width: $penalty-area-width;
    height: $penalty-area-height;
    position: absolute;
    top: 50%;
    transform: translate(-5px, -50%);
    border: 3px solid $table-color;
  }
  &:after {
    right: 0;
    transform: translate(5px, -50%);
  }

  .center {
    width: 3px;
    height: 100%;
    position: absolute;
    left: 50%;
    display: block;
    transform: translateX(-50%);
    background: $table-color;
  }
}


.game-table--handle {
  position: absolute;
  z-index: 1;
  left: 0;
  right: 100%;
  height: 100%;
}

.handle {
  height: $handle-length;
  width: $handle-width;
  background: $table-color;
  position: absolute;
  transform: translateX(-50%);

  &:after {
    content: '';
    height: 35px;
    width: 10px;
    display: block;
    background: $table-color;
    position: absolute;
    transform: translateX(-25%);
  }
}

.game-table--handle-bottom {
  top: -1rem;
  .handle:after {
    bottom: -10px;
  }
}

.game-table--handle-top {
  top: -2rem;
  .handle:after {
    top: -25px;
  }
}

@mixin handle-position($i) {
  left: calc(#{$i} * (100vw - 30px)/9);
}

.handle-bottom-1 {
  @include handle-position(1);
}
.handle-bottom-2 {
  @include handle-position(2);
}
.handle-bottom-3 {
  @include handle-position(4);
}
.handle-bottom-4 {
  @include handle-position(6);
}

.handle-top-1 {
  @include handle-position(3);
}
.handle-top-2 {
  @include handle-position(5);
}
.handle-top-3 {
  @include handle-position(7);
}
.handle-top-4 {
  @include handle-position(8);
}


.game--score {
  text-align: center;
  position: relative;
  margin-bottom: 2rem;
  &:after {
    content: ':';
    position: absolute;
    font-size: 2rem;
    font-family: 'Anton', sans-serif;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &.score--a {
    text-align: right;
  }

  &.score--b {
    text-align: left;
    right: 0;
  }
}
