.group-teaser {
  @include card();
  padding: 1rem;

  display: flex;
  align-items: center;

  .name {
    font-weight: bold;
  }
  .actions {
    margin-left: auto;
  }
}


.section-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}
