$size: 40px;

.player-teaser {
  @include card();
  display: flex;
  align-items: center;
  padding: 1rem;
  .image {
    height: $size;
    width: $size;
    border-radius: 50%;
    overflow: hidden;

  }
  .info {
    padding: 0 1rem;
    display: flex;
    flex-direction: column;

    .name {
      font-weight: bold;
    }
  }
}

.player-teaser.text-white {
  .info {
    color: white;
  }
}

/* Player */
$team-member-size: 50px;
.team {
  position: relative;
  height: $team-member-size;
}

.team-player {
  height: $team-member-size;
  width: $team-member-size;
  display: block;
  font-size: 0;
  background-color: #FFEDA4;
  border-radius: 50%;

  position: absolute;
  z-index: 1;
  transform: translateX(-50%);

  &:after {
    content: '';
    display: block;
    height: calc(#{$team-member-size} + 16px);
    width: calc(#{$team-member-size} + 16px);
    background-color: #FFF3CC;
    position: absolute;
    z-index: -1;
    top: 0;
    transform: translate(-8px, -8px);
    border-radius: 50%;
  }
}
.team-player img{
  width: 100%;
  border-radius: 50%;
}

.team-a--striker {
  left: calc(4 * (100vw - 30px)/9);
}
.team-a--defender {
  left: calc(7.5 * (100vw - 30px)/9);
}

.team-b--striker {
  left: calc(5 * (100vw - 30px)/9);
}
.team-b--defender {
  left: calc(1.5 * (100vw - 30px)/9);
}

.player {
  @include shadow();
  margin-bottom: 1rem;
}
