<nav class="navbar navbar-expand-lg">
  <a class="navbar-brand app-title"
    routerLink="/" [innerHtml]="title"></a>

  <button class="navbar-toggler"
    (click)="toggleNavbar()"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
  </button>

  <div class="nav-wrapper" (click)="closeNavbar()">
    <div class="nav-inner">
      <app-player-teaser [player]="currentPlayer"></app-player-teaser>

      <ul class="navbar-nav mr-auto">
        <li class="nav-item"><a class="nav-link" routerLink="/">Dashboard</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/player">Players</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/player/add">Add player</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/games">Games</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/game/add">Game add</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/group">Groups</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/group/add">Add group</a></li>
        <li class="nav-item"><a class="nav-link" (click)="logOut()">Log out</a></li>
      </ul>
    </div>
  </div>

</nav>
